.movie-card-detailed {
  box-shadow: 2px 2px 4px black;
  height: 700px;
  margin: 40px;
  position: relative;
  width: 500px;
}

.movie-card-detailed img {
  width: 100%;
}

.movie-card-detailed p {
  padding: 0 20px;
}

.movie-card-detailed p:nth-child( 2 ) {
  color: white;
  position: absolute;
  top: 220px;
}

.movie-card-detailed a {
  padding: 20px;
  text-decoration: none;
}
