.movie-detail-container {
  align-content: center;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
}

.detail-info-container {
  align-content: center;
  background-color: #d7d5d5;
  border: 1px solid #3d3b3c;
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
  width: 65%;
}

.detail-info-container h2 {
  color: #3d3b3c;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0;
  text-align: center;
}

.detail-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.movie-detail-container img {
  width: auto;
}

.detail-paragraph {
  padding: 20px;
  width: 60%;
}

.detail-paragraph p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 10px;
  text-align: justify;
}

.detail-links-container {
  background-color: #d7d5d5;
  display: flex;
  padding: 20px 0;
}

.detail-links-container a {
  background-color: #a5a1a1;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-weight: 600;
  height: 20px;
  margin: 5px 5px 0 20px;
  padding: 10px;
  text-decoration: none;
}
