.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px;
  gap: 20px;
}
.add-movie {
  color: floralwhite;
  padding: 4px;
  border-radius: 6px;
  background-color: darkblue;
  text-decoration: none;
  width: fit-content;
  grid-column: 3;
  align-self: flex-end;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 20px;
}
