.movie-card-container {
height: 100%;
    margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}
.movie-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-self: center;
  /* border: 1px solid red; */
  width: 80%;
}
div.movie-card-image {
  width: 100%;
}

.movie-card-image {
  width: 100%;
}
.movie-card-image:hover {
  width: 110%;
  transition: 1s;
}

.movie-card-body {
  height: 90%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid aqua; */
  margin-top: 5px;
}
.movie-card-title {
  margin: auto;
}
.movie-card-subtitle {
  margin-left: 10px;
  font-size: 15px;
}
.movie-card-storyline {
  margin-left: 10px;
}
.link-to-details-movie {
  padding: 3px;
  border-radius: 6px;
  border:1px solid darkblue;
  margin-top: 15px;
}
.link-to-details-movie:hover {
  padding: 3px;
  border-radius: 6px;
  border:1px solid darkblue;
  background-color: darkblue;
  margin-top: 15px;
}
.link-to-details-movie a {
color: darkblue;
  text-decoration: none;
}
.link-to-details-movie:hover a {
  color: floralwhite;
  }