.movie-card {
  box-shadow: 2px 2px 5px black;
  height: 500px;
  margin: 40px;
  position: relative;
  width: 500px;
}

.movie-card img {
  object-fit: contain;
  width: 100%;
}

.movie-card h3 {
  color: white;
  padding: 20px;
  position: absolute;
  top: 200px;
}

.movie-card p {
  padding: 20px;
}

.movie-card a {
  bottom: 0;
  padding: 20px;
  position: absolute;
  text-decoration: none;
}
