.movie-list-container {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 5% auto;
  width: 95%;
}

/* .movie-list-container:focus-within .movie-card-content {
  transform: translateX(-2%);
} */

.movie-list-container:hover .movie-card-content {
  transform: translated(5%);
}

.movie-list-container .movie-card-content:focus {
  transform: scale(1.1);
  z-index: 1;
}

.movie-list-container .movie-card-content:hover {
  transform: scale(1.1);
  z-index: 1;
}
