body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

/* .CardContainer {
  background-color: cadetblue;
  display: flex;
  flex-flow: row nowrap;
}

.Cardunique{
  background-color: brown;
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  height: 200px;
} */

